# Project inputs/outputs
uploads
frames

# PyCharm Projects
.idea/

# Vitural Env
venv*/
.venv*/

# Python stuff - byte-compiled & optimized files
__pycache__/
*.py[cod]
*$py.class

# pyenv
.python-version

# User private dir
my_stuff
